<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :email, placeholder: :email %>
  </br>
  </br>
  <%= f.password_field :password, placeholder: :password %>
  </br>
  </br>
  <%= f.submit "Sign In" %>
<% end %>
<%= link_to "New User?", new_user_path %>