<h1>Add User</h1>
<ul>
    <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
    <% end %>
</ul>
<%= form_for(@user) do |f|%>
<%= f.text_field :name, placeholder: :name %>
</br>
</br>
<%= f.text_field :email, placeholder: :email %>
</br>
</br>
<%= f.password_field :password, placeholder: :password %>
</br>
</br>
<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
</br>
</br>
<%= f.submit "Create my account" %>

<% end %>