<h1>Welcome <%= @user.name.capitalize %></h1>
<% if @user.rest_key.nil? %>
  <span>No key found<br>
<%= link_to "generate one", rest_keys_path, method: :post %>
<% else %>
  <span><%= @user.rest_key.key %> </span><br>
  <%= link_to "re-generate", rest_keys_path, method: :post %>
  <h3>Try Our REST calls!</h3>
  <%= link_to "get your secret details", api_v1_requests_url(hash:  @user.rest_key.key), method: :post, target: :_blank %>
  </br>
  <%= link_to "get public details", api_v1_requests_url, target: :_blank %>
<% end %>
